@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



.infoheader{
    border: 2px solid wheat;
    display: flex;
    height: 20vw;
}
.infoheader img{
    height: 100%;
    object-fit: cover;
}

.admininfo{
    display: flex;
    /* border: 2px solid aqua; */
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 50%;
    margin-left: 25vw;
}
.admininfo h1{
    font-size: 3vw;
    color: #b6a16d;
    font-family: "KoHo", serif;
    font-weight: 300;
}
.info-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    font-family: "KoHo", serif;
    width: 80%;
}

.userlogo{
    /* border: 2px solid purple; */
    display: inline-flex;
    justify-content: center;
    height: 15vw;
    padding-top: 2vw;
}

.userlogo img{
    /* background-color: #0A142D; */
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}
.infoboxes{
    display: flex;
    flex-direction: column;
    /* border: 2px solid greenyellow; */
    align-items: center;
    color: #7D7254;
    gap: 1.5vw;
    padding: 2vw 0 2vw 0;
}
.infobox{
    display: inline-flex;
    background-color: #0A142D;
    box-shadow:7px 6px 5px rgb(0 0 0 / 60%);
    /* border: 2px solid red; */
    padding: 1.5vw;
    width: 70%;
    text-align: center;
    border-radius: 2vw;
    justify-content: center;
}
.infobox h2{
    font-size: 2vw;
    text-align: center;
    background: transparent;
    font-weight: 300;
    font-family: "Junge", serif;
}