@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

body {
    /* background: linear-gradient(170deg, #050F26, #06122F, #0A1F4F, #12378C); */
    background-size: cover;
    background-repeat: no-repeat;
}

#nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: +1;
}

.logo {
    /* border: 2px solid green; */
    /* height: 15vw; */
    width: auto;
    display: flex;
}

.logo img {
    width: 20%;
    position: absolute;
    cursor: pointer;
}

.essential-box {
    display: flex;
    /* border: 2px solid white; */
    align-items: center;
}

.search {
    /* border: 2px solid greenyellow; */
    display: flex;
    align-items: center;
    padding: 1vw;
    font-family: "Junge", serif;
}

.search input {
    border: 2px solid white;
    outline: none;
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.5vw;
    width: 20vw;
    font-family: "Junge", serif;
    background: transparent;
    color: white;
}
.search input::-webkit-search-cancel-button{
    appearance: none;
}
.search input::placeholder {
    color: white;
    font-family: "Junge", serif;
    font-size: 1vw;
}

.search img {
    height: auto;
    width: 2vw;
}

.search img:hover {
    cursor: pointer;
}

.cart {
    /* border: 2px solid purple; */
    margin-right: 2vw;
    padding: 1vw;
}

.cart img {
    height: auto;
    width: 3vw;
}

.cart img:hover {
    cursor: pointer;
}

.product-header {
    /* border: 2px solid blue; */
    display: flex;
    padding-top: 15vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: "Junge", serif;
}

.product-header h1 {
    margin: 0;
    font-size: 3vw;
    color: #847447;
    padding-right: 5vw;
}

.hr {
    width: 100%;
    position: absolute;
}
@media screen and (min-width: 1800px) {
    .search input {
        border: 6px solid white;
        outline: none;
        padding: 1.5vw;
        margin: 1vw;
        border-radius: 0.5vw;
        width: 30vw;
        font-family: "Junge", serif;
        background: transparent;
        color: white;
    }
    .search input::placeholder{
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width: 768px) {
    .search input {
        border: 1px solid white;
        outline: none;
        padding: 0.7vw;
        margin: 1vw;
        border-radius: 0.5vw;
        width: 25vw;
        font-family: "Junge", serif;
        background: transparent;
        color: white;
    }

    .search input::placeholder {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 450px) {
    .search input {
        border: 1px solid white;
        outline: none;
        padding: 1vw;
        margin: 1vw;
        border-radius: 1vw;
        width: 30vw;
        font-family: "Junge", serif;
        background: transparent;
        color: white;
        font-size: 2vw;
    }

    .search input::placeholder {
        font-size: 1.5vw;
        padding: 1vw;
    }

    .cart img {
        width: 3.5vw;
    }
    .search img{
        width: 3vw;
    }

}

@media screen and (max-width: 375px) {
    .cart img{
        object-fit: cover;
        width: 15px;
    }
    .search img{
        width: 12px;
    }
    .search input {
        border: 1px solid white;
        outline: none;
        padding: 1vw;
        margin: 1.5vw;
        border-radius: 1vw;
        width: 40vw;
        font-family: "Junge", serif;
        background: transparent;
        color: white;
        font-size: 2vw;
    }
    
    .search input::placeholder{
        font-size: 2.2vw;
    }
    
}