@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

.user-cart {
    padding: 1.2vw;
}

.header {
    font-family: "Junge", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw;
    color: #9b8a5b;
    font-size: 2vw;
}

.cart-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 1.2vw;
}

.cart-product {
    display: flex;
    /* border: 2px solid aqua; */
    width: 100%;
    background-color: #0A142D;
    color: #9b8a5b;
    border-radius: 2vw;
}

.cart-product-img {
    /* border: 2px solid green; */
    height: 18vw;
    padding: 1vw 1vw 1vw 2vw
}

.cart-product-img img {
    height: 100%;
    object-fit: cover;
}

.product-details {
    display: inline-flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    gap: 1.5vw;
    padding: 2vw 2vw 2vw 5vw;
    justify-content: center;
    width: 80%;
}

.product-details h2 {
    margin: 0;
    font-size: 3vw;
    font-weight: 300;
}

#qty {
    display: inline-flex;
    gap: 1vw;
}

#increament {
    cursor: pointer;
}

#decreament {
    cursor: pointer;
}

.fa-plus:hover {

    transform: scale(1.2);
    cursor: pointer;
}

.fa-minus:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.select-delete-container {
    /* border: 2px solid red;    */
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    justify-content: space-around;
    align-items: center;
}

.select-delete-container img {
    height: 5vw;
    cursor: pointer;
}

.select-delete-container input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    border: 1px solid #9b8a5b;
    border-radius: 1vw;
    outline: none;
}

.select-delete-container input:checked {
    background-color: #9b8a5b;
}

.checkout-box {
    /* border: 2px solid red; */
    display: flex;
    background-color: #0A142D;
    border-radius: 2vw;
    padding: 2.5vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vw;
}

#subtotal {
    font-family: "Junge", serif;
    font-size: 2vw;
    color: #9b8a5b;
}

.checkout-btn {
    padding: 1.5vw;
    border-radius: 1vw;
    outline: none;
    border: none;
    background-color: #AA9B72;
    font-family: "Junge", serif;
    cursor: pointer;
    color: white;
    font-size: 2vw;
}

.checkout-btn:hover {
    background-color: #c2b38b;

}
.default-cart-message{
    font-family: "Junge", serif;
    font-size: 2vw;
    color: #9b8a5b;
    text-align: center;
    margin-top: 5vw;
}
.notification-div-cart {
    color: white;
    position: fixed;
    top: 10%;
    right: -100%; /* Start position off the screen */
    transform: translateY(-50%);
    height: 5vw;
    /* width: 20vw; */
    border-radius: 1.2vw;
    background-color: #7D7254;
    font-family: Junge, serif;
    border: none;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.2vw;
    animation: slideIn 1s forwards, slideOut 0.5s forwards 7s; 
}

/* Slide-in effect */
@keyframes slideIn {
    from {
        right: -100%; /* Start off the right side */
    }
    to {
        right: 5%; /* Slide into view from the right */
    }
}

/* Slide-out effect */
@keyframes slideOut {
    from {
        right: 5%;
    }
    to {
        right: -100%; /* Slide out of view */
    }
}
