<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>Admin Panel
    </title>
</head>
<body>
    <nav id="panelnav">
        <div class="panellogo">
            <img src="Logo.png" alt="Logo">
        </div>
        <div class="paneltext">
            <h1>BE BOLD BE TIMELESS</h1>
        </div>
    </nav>
    <div class="panelsidemenu">
        <h2><a href="">CREATE</a></h2>
        <h2><a href="">PRODUCTS</a></h2>
        <h2><a href="">PROFILE</a></h2>
    </div>
    <div class="panelform-parent">
        <form action="" id="panelform">
            <div class="panelcategories">
                <h4>CATEGORY</h4>
                <div class="paneloption" data-value="EXECUTIVE SERIES">EXECUTIVE SERIES</div>
                <div class="paneloption" data-value="CEO COLLECTION">CEO COLLECTION</div>
                <div class="paneloption" data-value="ELITE EXCLUSIVE">ELITE EXCLUSIVE</div>
                <div class="paneloption" data-value="TAILORED PRESTIGED">TAILORED PRESTIGED</div>
                <div class="paneloption" data-value="TIMELESS CLASSICS">TIMELESS CLASSICS</div>
                <div class="paneloption" data-value="ROYAL HERITAGE">ROYAL HERITAGE</div>
        </div>
        <div class="panelinputs">
            <input type="text" placeholder="IMAGE URL" class="imgurl">
            <input type="text" placeholder="PRODUCT TITLE" class="producttitle">
            <input type="number" placeholder="PRICE" class="price">
            <!-- <input type="text" placeholder="PRODUCT DESCRIPTION"> -->
             <textarea name="" id="paneldesc" cols="32" rows="5" placeholder="Enter Description"></textarea>
            <input type="submit" value="ADD PRODUCT" id="panelsubmit">
        </div>
        </form>
    </div>
    <script src="admin.js"></script>
</body>
</html>