<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admininfo.css">
    <!-- <link rel="stylesheet" href="admin.css"> -->
    <title>Admin Info</title>
</head>
<body>
    <div class="admininfo">
        <h1>ADMIN'S PROFILE</h1>
        <div class="info-container">
            <div class="userlogo">
                <img src="userlogo.png" alt="">
            </div>
            <div class="infoboxes">
                <div class="infobox">
                    <h2>USER ID</h2>
                </div>
                <div class="infobox">
                    <h2>USERNAME</h2>
                </div>
                <div class="infobox">
                    <h2>E-MAIL</h2>
                </div>
                <div class="infobox">
                    <h2>PASSWORD</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>