<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="category.css">
    <title>Categories</title>
</head>
<body>
    <div class="cat-parent">
        <h1>CATEGORIES</h1>
        <div class="cat-boxes">
            <div class="cat-box">
                <div class="img">
                    <img src="cat-1.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>EXECUTIVE SERIES</h2>
                </div>
            </div>
            <div class="cat-box">
                <div class="img">
                    <img src="cat-2.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>CEO COLLECTION</h2>
                </div>
            </div>
            <div class="cat-box">
                <div class="img">
                    <img src="cat-3.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>ELITE EXCLUSIVE</h2>
                </div>
            </div>
            <div class="cat-box">
                <div class="img">
                    <img src="cat-4.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>TAILORED PRESTIGED</h2>
                </div>
            </div>
            <div class="cat-box">
                <div class="img">
                    <img src="cat-5.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>TIIMELESS CLASSICS</h2>
                </div>
            </div>
            <div class="cat-box">
                <div class="img">
                    <img src="cat-6.png" alt="Category Picture">
                </div>
                <div class="txt">
                    <h2>ROYAL HERITAGE</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>