<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HomeNav.css">
    <title>HomeNav</title>
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img src="./Logo.png" alt="Logo">
        </div>
        <div class="essential-box">
            <div class="search"> 
                <input type="search" name="" id="" placeholder="Search For Your Look">
                <img src="search-logo.png" alt="" srcset="">
            </div>
            <div class="cart">
                <img src="./cart-logo.png" alt="">
            </div>
        </div>
    </nav>
    <div class="product-header">
        <h1>CATEGORY NAME</h1>
    </div>
    <hr class="hr">
</body>
</html>