<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LoginNavBar.css">
    <title>NavBar</title>
</head>
<style>
</style>
<body>
    
    <nav id="LoginNav">
        <div class="logo-box">
            <img src="/src/assets/Logo.png" alt=""/>
        </div>
        <div class="nav-links">
            <a href="">Sign Up</a>
            <a href="">Log In</a>
        </div>
    </nav>
</body>
</html>


<!-- LOGIN NAV WAS THAT BASTARD ITS HEIGHT PROPERTY  -->