<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LoginForm.css">
    <title>Registeration</title>
</head>
<body>
    <div class="form">
        <div class="text-box">
            <div class="loginicon">
            <img src="/src/assets/LoginIcon.png" alt="">
        </div>
            <h1>Log In</h1>
        </div>
        <form action="" id="RegisterForm">
            <input type="email" placeholder="Email" class="inputs">
            <input type="password" placeholder="Password" class="inputs">
            <input type="submit" value="Log In" class="RegisterBtn">
        </form>
    </div>
</body>
</html>