<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user-products.css">
    <title>Products</title>
</head>
<body>
    <div class="products-container">
        <!-- <div class="product-box">
            <div class="product-img">
                <img src="cat-1.png" alt="">
            </div>
            <div class="product-info">
                <div class="price">
                <h2>$500/-</h2>
                    <img src="cart-logo.svg" alt="">
            </div>
            <div class="product-title">
                <h3>EXECUTIVE 4PC MAROON</h3>
            </div>  
            </div>
        </div> -->
    </div>
    <script src="user-products.js"></script>
</body>
</html>