<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cart</title>
    <link rel="stylesheet" href="usercart.css">
</head>

<body>
    <div class="header">
        <h1>MY CART</h1>
    </div>
    <div class="cart-container">
        <div class="cart-product">
            <div class="cart-product-img">
                <img src="cat-1.png" alt="">
            </div>
            <div class="product-details">
                <h2>PRICE</h2>
                <h2>PRODUCT TITLE</h2>
                <span id="qty">
                    QTY:
                    <i class="fa-solid fa-plus" id="increament"></i>
                    QUANTITY NUMBER
                    <i class="fa-solid fa-minus" id="decreament"></i>
                </span>

            </div>
            <div class="select-delete-container">
                <img src="delete-logo.svg" alt="">
                <input type="checkbox" id="product-check">
            </div>
        </div>

    </div>
    <div class="checkout-box"><!--BOTTOM DIV CHECKOUT--></div>
    <script src="usercart.js"></script>
    <script src="https://kit.fontawesome.com/78673b6ab8.js" crossorigin="anonymous"></script>
</body>

</html>